@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    outline: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items:center;
    text-align: center;
    background: #dde1e7;
}
.container{
    background: #dde1e7;
    padding: 25px;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94,104,121,0.288);
}
.container .pagenation{
    display: flex;
    list-style: none;
}
.container .pagenation li{
    flex: 1;
    margin: 0 5px;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94,104,121,0.288);
}
.pagenation li a{
    font-size: 18px;
    text-decoration: none;
    color: #4d3252;
    height: 45px;
    width: 55px;
    display: block;
    line-height: 45px;


}
.pagenation li.active{
    box-shadow: inset -3px 7px #ffffff73,
   inset 3px 3px 5px rgba(94,104,121,0.288);
}
.pagenation li.active a{
    font-size: 17px;
    color: #6f6cde;
}

.pagenation li:first-child a{
    width: 100px;
    
}
.pagenation li:last-child a{
    width: 100px;
    
}
.pagenation li:first-child a{
    margin: 0 15px 0 0;

    
}
.pagenation li:last-child a{
    margin: 0 0 0 15px;
    
}
